.GeneralContainer{background-color: white; font-style: inherit;}
.Header{background-color: pink;}
.LogoNav{display: flex; justify-content: space-between; padding: 0px 32px;
    .LogoImg{width: 250px; padding: 10px 30px;}
    .NavIcons{display: flex; justify-content: space-between; width: 900px;
    .Nav4{display: flex; justify-content: space-between; width: 500px; align-items: center; font-style: unset; 
    }
    .Icons{align-content: center;width: 280px; padding: 2px 30px;}
    .Icon1{margin: 0px 20px;}
    .Icon2{margin: 0px 20px; height: 20px;}
    .Icon3{margin: 0px 20px; height: 20px;}
    .Icon4{margin: 0px 20px; height: 20px;}
}
}
.Hero{height: 700px; width: 100%; background-image: url("Page 1/Images/scandinavian-interior-mockup-wall-decal-background 1.png");
    .TextBox{
        float: right; margin: 150px 60px; background-color: #FFF3E3; width: 550px; height: 400px;
         padding: 20px 60px;
        .H6{font-size: 12px; } .H2{ font-size: 48px;} .P{ font-size: 14px;} .Btn{ padding: 20px 60px; background-color: #B88E2F; color: #FFF3E3; border: 0px; margin: 50px 0px;}
    }
}
.Range{
    .TextBox{width: 700px; margin-left: 400px; }
    .H3{font-size: 32px; padding-top: 20px; text-align: center;}
    .P{margin-top: -30px; font-size: 16px; text-align: center;}
}
.FourImgs{
    display: flex; gap: 20px; justify-content: center; padding: 50px 0px;
    .H4{font-size: 20px; text-align: center;}
    .Bedroom{ border-radius: 10px;}
}
.Product{background-color: red; padding: 0px 90px;
    .ImgGrp1{ display: flex; gap: 30px; background-color: midnightblue;}
    .Img1{background-color: yellow; height: 450px;}
    .Img{height: 250px; width: 250px; background-image: url("/Page 2/Images/image 1.jpg"); }
}